Project_2/Assignment_3/AccessServiceConsoleApplication/Connected Services/PythagoreanService/PythangoreanService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalcPythagorean">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculationType" type="xs:int" />
        <xs:element minOccurs="0" name="length1" type="xs:double" />
        <xs:element minOccurs="0" name="length2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>